extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Rachel Johnson
        p.lead.text-light Web Designer & Developer
        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li Vue.js
          li HTML/CSS/JS
          li PHP
          li MySQL
          li MongoDB
        h6 Contact Info

        ul
          li +61 432 633 453
          li rachelktyjohnson@gmail.com

        a.button.expanded(target='_blank' href='https://www.linkedin.com/in/rachelktyjohnson/') LinkedIn
        a.button.expanded(target='_blank' href='https://github.com/rachelktyjohnson') GitHub
        a.button.expanded(target='_blank' href='https://twitter.com/RachelTyJohnson') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
