extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Rachel Johnson
        p.lead.text-light Web Designer & Developer
        .portfolio-bio
          p I am an Australian-based creative who is the Creative Technologies Manager at Level Up Dice. I work mostly with Illustrator, Photoshop, and occasionally InDesign. I currently hold a Bachelor of Design in Visual Communications (Web).
          p As a Web Designer & Developer, I work with HTML, CSS Javascript/jQuery, PHP, mySQL and Wordpress, favouring WebStorm for my text editor. I have recently started looking into the MEVN stack. I am currently furthering my education by taking part in Team Treehouse’s Full Stack Javascript TechDegree Program.
          p I am also a few weeks away from completing (and hopefully graduating from) my Graduate Diploma in IT, looking to bridge into a Master of Computer Science.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li Vue.js
          li HTML/CSS/JS
          li PHP
          li MySQL
          li MongoDB
        h6 Contact Info

        ul
          li +61 432 633 453
          li rachelktyjohnson@gmail.com

        a.button.expanded(target='_blank' href='https://www.linkedin.com/in/rachelktyjohnson/') LinkedIn
        a.button.expanded(target='_blank' href='https://github.com/rachelktyjohnson') GitHub
        a.button.expanded(target='_blank' href='https://twitter.com/RachelTyJohnson') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
