extends layout.pug

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back to civilization
    article.grid-container.portfolio-intro
        h1 Oops! There's been an error
        h2= error.message
        pre= error.stack
